* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    color: var(--textwhite);
    background: radial-gradient(at 50% 100%, var(--dimgrey) 0%, var(--textshadow) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h1 {
        padding: 1%;
        color: var(--text);
        font-weight: normal;
    }

    .title-bar {
        display: flex;
        align-items: center;
        background-image: linear-gradient(to bottom, var(--dimgrey), var(--normalgrey));
        box-shadow: 0px -1px 0px var(--highlights);
        border-left: solid 1px var(--highlights);
        border-right: solid 1px var(--highlights);
        border-bottom: solid 1px var(--textshadow);
        border-radius: 5px 5px 0px 0px;
        padding: 6px;
        margin: 10%;
        margin-bottom: 0%;
        color: white;
        text-shadow: 1px 1px 0px var(--textshadow);
    }

    .center-card {
        color: white;
        display: flex;
        justify-self: center;
        padding: 1.5%;
        padding-bottom: 2.5%;
        margin: 10%;
        margin-top: 0%;
        background-color: var(--textshadow);
        border-radius: 0px 0px 5px 5px;
        border: solid 1px var(--highlights);
        border-top: solid 1px var(--normalgrey);

    }
}

footer {
    text-align: center;
    background-color: var(--textshadow);
    border-top: solid 1px var(--normalgrey);
    border-bottom: solid 1px var(--dimgrey);
    color: var(--normalgrey);
}

:root {
    --text: #b4b4b4;
    --textshadow: #000000;
    --important: #ffffff;
    --darkgrey: #181818;
    --normalgrey: #545454;
    --dimgrey: #303030;
    --highlights: #7f7f7f;

}